version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: madb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mon_reseau

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    networks:
      - mon_reseau

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - mon_reseau

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    stdin_open: true
    networks:
      - mon_reseau

networks:
  mon_reseau:
    driver: bridge

volumes:
  postgres_data: